.card {
    padding: 1.5rem;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    box-shadow: var(--card-shadow);
    color: var(--text-primary);
    height: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

.loading {
    padding: 1.5rem;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    height: 16rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--text-primary);
}

.metricsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.metricCard {
    background-color: var(--bg-primary);
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
}

.metricRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-primary);
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
}

.metricLabel {
    color: var(--text-secondary);
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.metricValue {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 0;
    color: var(--text-primary);
}

.positive {
    color: #4ade80;
}

.warning {
    color: #facc15;
}

.negative {
    color: #f87171;
}

.metricTarget {
    font-size: 0.75rem;
    color: var(--text-muted);
    margin: 0;
}