.card {
    padding: 1.5rem;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    box-shadow: var(--card-shadow);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
}

.loading {
    padding: 1.5rem;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    height: 16rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--text-primary);
}

.tabsContainer {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.tabButton {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
}

.tabButton:focus {
    outline: none;
}

.activeTab {
    border: 1px solid rgb(73, 71, 194);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(96, 165, 250, 0.2);
    color: rgb(73, 71, 194);
    border-radius: 0.25rem;
}

.inactiveTab {
    color: var(--text-secondary);
}

.inactiveTab:hover {
    color: var(--text-primary);
}

.tableContainer {
    overflow-x: auto;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}

.table {
    width: 100%;
    font-size: 0.875rem;
    text-align: left;
    color: var(--text-primary);
    border-collapse: collapse;
}

.tableHead {
    font-size: 0.75rem;
    color: var(--text-secondary);
    text-transform: uppercase;
    background-color: var(--bg-primary);
    text-align: center;
}

.th,
.td {
    padding: 0.5rem 1rem;
    text-align: center;
}

.th:first-child,
.td:first-child {
    text-align: left;
    width: 30%;
}

.iconButton {
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
}

.iconButton:focus {
    outline: none;
}

.iconButton:hover {
    color: var(--text-primary);
}

.stickyHeader {
    position: sticky;
    left: 0;
    background-color: var(--bg-primary);
    z-index: 10;
}

.tableRow {
    border-bottom: 1px solid var(--border-color);
}

.tableRow:hover {
    background-color: var(--glass-bg);
}

.stickyCell {
    position: sticky;
    left: 0;
    background-color: var(--bg-secondary);
    font-weight: 500;
    color: var(--text-primary);
    z-index: 5;
}

.noDataText {
    color: var(--text-secondary);
}