.card {
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    padding: 1.5rem;
    color: var(--text-primary);
    gap: 1.5rem;
    display: flex;
    flex-direction: column;

    background: linear-gradient(145deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.01) 100%);
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.5),
        inset 5px 3.5px 5px rgba(255, 255, 255, 0.2),
        inset -2px -2px 5px rgba(0, 0, 0, 0.5);
}

/* Specular Highlight / Reflection */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(105deg,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(255, 255, 255, 0.05) 30%,
            transparent 50%);
    pointer-events: none;
    z-index: 0;
}

.card>* {
    position: relative;
    z-index: 1;
}

.loading {
    padding: 1.5rem;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    height: 16rem;
}



.title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin: 0;
    color: var(--text-primary);
}

.tabsContainer {
    display: flex;
    gap: 2rem;
    margin: 0;
}

.tabButton {
    background: none;
    border: none;
    color: var(--text-secondary);
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s;
    height: 1.5rem;
    display: flex;
    align-items: center;

}

.tabButton:focus {
    outline: none;
}

.activeTab {
    background: transparent;
    border-bottom: 1px solid rgba(24, 42, 65, 0.5);
    transform: translateY(-2px);
    box-shadow:
        0 6px 12px rgba(96, 165, 250, 0.5),
        inset 0 2px 4px rgba(96, 165, 250, 0.5);
    color: var(--text-primary);
    font-weight: 600;
}

.inactiveTab {
    color: var(--text-secondary);
}

.inactiveTab:hover {
    background: transparent;
    transform: translateY(-2px);
    box-shadow:
        0 6px 12px rgba(96, 165, 250, 0.5),
        inset 0 2px 4px rgba(96, 165, 250, 0.5);
}

.tableContainer {
    overflow-x: auto;
    background: transparent;
}

.table {
    width: 100%;
    font-size: 0.8rem;
    text-align: left;
    color: var(--text-primary);
    border-collapse: collapse;
}

.tableHead {
    font-size: 0.8rem;
    color: var(--text-secondary);
    text-transform: uppercase;
    background-color: transparent;
    text-align: center;
}

.th,
.td {
    padding: 0;
    text-align: center;
}

.th:first-child,
.td:first-child {
    text-align: left;
    width: 30%;
}

.iconButton {
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    padding: 0;

}

.iconButton:focus {
    outline: none;
}

.iconButton:hover {
    background: transparent;
    transform: translateY(-2px);
    box-shadow:
        0 6px 12px rgba(96, 165, 250, 0.5),
        inset 0 2px 4px rgba(96, 165, 250, 0.5);
}

.stickyHeader {
    position: sticky;
    left: 0;
    background-color: transparent;
    z-index: 10;
}

.tableRow {
    border-bottom: 1px solid var(--border-color);
    height: 3rem
}

.tableRow:hover {
    background-color: var(--glass-bg);
}

.stickyCell {
    position: sticky;
    left: 0;
    background-color: transparent;
    font-weight: 500;
    color: var(--text-primary);
    z-index: 5;

}

.noDataText {
    color: var(--text-secondary);
}