.card {
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    padding: 1.5rem;
    color: var(--text-primary);
    gap: 1.5rem;
    display: flex;
    flex-direction: column;

    background: linear-gradient(145deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.01) 100%);
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.5),
        inset 5px 3.5px 5px rgba(255, 255, 255, 0.2),
        inset -2px -2px 5px rgba(0, 0, 0, 0.5);
}

/* Specular Highlight / Reflection */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(105deg,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(255, 255, 255, 0.05) 30%,
            transparent 50%);
    pointer-events: none;
    z-index: 0;
}

.card>* {
    position: relative;
    z-index: 1;
}


.loading {
    padding: 1.5rem;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    height: 16rem;
}



.title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin: 0;
    color: var(--text-primary);
}

.noDataText {
    color: var(--text-secondary);
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.supportRow {
    padding: 0;
    border-radius: 1rem;
    border-radius: 20px;
    border: none;
}

.rowHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 700;
    font-size: 1.125rem;
}

.reasonText {
    color: var(--text-primary);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.strongLabel {
    /* margin-left: 0.5rem; */
    font-size: 0.75rem;
    color: #facc15;
    font-weight: 700;
}

.textGreen {
    color: #4ade80;
}

.textRed {
    color: #f87171;
}

.actionWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.actionBadge {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.actionBuy {
    background-color: rgba(34, 197, 94, 0.2);
    color: #4ade80;
}

.actionHold {
    background-color: rgba(239, 68, 68, 0.2);
    color: #f87171;
}

.actionSell {
    background-color: rgba(239, 68, 68, 0.2);
    color: #f87171;
}

.actionNote {
    display: block;
    font-size: 0.7rem;
    color: #f87171;
    margin-top: 0.25rem;
}