.scrollToTopBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    /* Very high z-index */
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    /* Prevent clicking when invisible */
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scrollToTopBtn:focus {
    outline: none;
}

.scrollToTopBtn.visible {
    opacity: 1;
    pointer-events: auto;
}

/* .scrollToTopBtn:hover {
    background-color: var(--bg-primary);
    border-color: var(--text-secondary);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
} */

.scrollToTopBtn:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.1));
    border: 2px solid rgb(73, 71, 194);
    transform: translateY(-2px);
    box-shadow:
        0 6px 12px rgba(96, 165, 250, 0.5),
        inset 0 2px 4px rgba(96, 165, 250, 0.5);
}

/* Target the SVG specifically */
.scrollToTopBtn svg {
    width: 1.3rem;
    height: 1.3rem;
    stroke: var(--text-primary);
    stroke-width: 2px;
}